<div class="form-authorization">
  <div class="heading">
    <h2 class="title">Create an account</h2>
    <span class="sub-title">
      Let’s get started with your 30 days free trial</span
    >
  </div>
  <form class="form">
    <fieldset class="form-group group">
      <div class="group-element">
        <label class="label-element">Name</label>
        <input class="input-element" type="text" />
      </div>
      <div class="group-element">
        <label class="label-element">Email</label>
        <input class="input-element" type="email" />
      </div>
      <div class="group-element">
        <label class="label-element">Password</label>
        <input class="input-element" type="password" />
      </div>
      <div class="btn-container">
        <button class="btn-auth">Create Account</button>
        <a class="link-sing-up" href="#">
          <i class="icon"></i>
          Sing up with Google
        </a>
      </div>
    </fieldset>
  </form>
  <p class="text-sing-in">
    Already have an account? <a class="link-sing-in" href="#">Sign in</a>
  </p>
</div>
